/* -- RESET STYLES -- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 1rem;
}


.homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("background-img.jpeg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

/* -- NAV STYLES -- */
ul {
  float: right;
  list-style: none;
  margin-top: 25px;
  margin-right: 25px;
  /* display: flex;
  flex-direction:row;
  justify-content: space-evenly; */
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: white;
  text-transform: lowercase;
  padding: 8px 10px 8px 10px;
  /* border: 1px solid #ffffff; */
  transition: 0.6s ease;
  border-radius: 50em;
  /* box-shadow: 0 10px 20px rgba(255,255,255,0.19); */
}

ul li a:hover {
  background-color: white;
  color: #000000;
}

ul li a.active {
  background-color: white;
  color: #000000;
}

.logo img {
  float: left;
  width: 10vw;
  height: auto;
}
/* -- HOMEPAGE STYLES -- */
.homepage-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.homepage-welcome {
  position: absolute;
  top:33%;
  left: 25%;
  transform:translate ( -50%, -50%);

}

.homepage-welcome h1 {
  color: #ffffff;
  font-size: 3rem;
}

.homepage-welcome p {
  color: #ffffff;
  font-size: 2rem;
}

.homepage-button {
  position: absolute;
  margin-top: 2rem;
  margin-left: 7rem;
  transform: translate (-50%, -50%);
  
}

.btn {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 30px;
  border: 1px solid #ffffff;
  transition: 0.6s ease;
  /* border-radius: 100rem; */
  
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* -- ABOUT STYLES -- */
.about {
  background-color: #DDCBD0;
  position: relative;
  width: 100vw;
  height: 100vh;

}

.about h2 {
  position: relative;
  justify-items:center ;
  margin: 0em 2em 2em 2em;
  color: #4E3D40;
  
}
.me-p{
  display: inline-block;
max-width: 60ch;
margin-right: auto;
margin-left: 2em;
color: #4E3D40;
}
.img-container {
 display:inline-block;
 width: 50vh;
 height:auto;
 margin-left: 4em;
}
.me-img{  
  position: relative;
  float: right;
  max-width: 100%;
  height: auto;
  border: 5px solid #555;
}


/* -- PAINT STYLES -- */
.paint {
  background-color: #815C61;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
/* -- FAC STYLES -- */

.FAC {
  background-color: #916F68;
   /* #f5dce0; */ 
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

/* -- DRY EYE STYLES -- */
.dry-eyes {
  background-color: white;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

/* -- CONTACT STYLES -- */
.contact {
  background-color: #DDCBD0; /* #596372;*/
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

/* -- FOOTER STYLES -- */
.footer-container {
  background-color: #4E3D40;
  position: relative;
  width: 100vw;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
}
