    /* ------ RESET STYLES ------ */
*, *::before, *::after {
  box-sizing: border-box; /* makes styling width easier*/
  margin: 0; /* makes everything line up to border of screen*/
  padding: 0; /* makes everything line up to border of screen*/
}
html {
  scroll-behavior: smooth;
}

:root{
 --cursive-font: 'Dawning of a New Day', cursive;
 --main-font: 'Roboto', sans-serif;
 font-size: 1rem;
}

body{
  font-family: var(--main-font);
  line-height: 1.5;
}
.homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("background-img.jpeg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  font-family: var(--main-font);
}

    /* ------ NAV STYLES ------ */

.navbar {
  display: flex; /* line side by side*/
  justify-content: space-between; /* push as far apart as possible*/
  align-items: center; /* makes everything line up to border of screen*/
  /* background-color: purple; */
}
.navlinks ul { 
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: space-around;  */
  
}
.navlinks li {
  list-style: none; /* remove bullet points*/
}

.navlinks li a {
  margin-left: 0rem;
  text-decoration: none; /* remove underline*/
  color: white;
  padding: 10px 25px;
  display: block; /* show up as larger size*/
  transition: 0.6s ease;
  border-radius: 1.5rem;
  /* border: 1px solid #ffffff; */
  /* box-shadow: 0 10px 20px rgba(255,255,255,0.19); */
}
.navlinks li a:hover{
background-color: white; /* change on hover*/
  color: #000000;
}

.navlinks li a.home {  
  background-color: white; /* home stays white*/
  color: #000000;
}
.logo img {
  width: 8rem;
  height: auto;
  margin: .5rem;
}
.toggle-btn{
position: absolute; /* force to RS of screen + not disturb flow*/
top: 2rem; /* not quite from top of screen*/
right: 1rem;
display: none; /* by default dont show - flex if showing*/
flex-direction: column; /* spans line up T-B*/
justify-content: space-between; /* as much space btwn line*/
width: 30px;
height: 21px;
}
.toggle-btn .bar {
  height: 0.2rem; 
  width: 100%; /* fill toggle-btn container */
  background-color: white;
  border-radius: 1rem; /* round corners of bars */
}

    /* ------ Media Query for togglemenu ------ */

@media (max-width: 600px){ /* if screen <600px wide do this*/
  .toggle-btn {
    display: flex; /* reveal toggle*/
  }
  .navlinks {
    display: none;/* links hidden*/
    width: 100%; /* li item span width of container*/
    height: 100vh; /* not sure if 33 or 45*/
  }
  .navbar{
    flex-direction: column; /* links below logo*/
    align-items: flex-start; /* logo back on left */
  }
  .navlinks ul {
    width: 100%; 
    flex-direction: column; /* links stacked */
    background-color: #815C61; /* navbar background color*/
  }
  .navlinks li {
    text-align: center; /* links in center */
  }
  .navlinks li a {
    padding: 1.7rem 1rem; /* a tags space closer together */
    border-radius: 0; /* remove border radius*/
  }
  div.active{
    display: flex; /* when active display links */
    z-index: 3;
  }
}

    /* ------ HOMEPAGE STYLES ------ */

.homepage-container {
  /* max-width: 1200px; */
  position: relative;
  margin: auto;
}
.homepage-welcome {
  position: absolute;
  top:33%;
  left: 25%;
  transform:translate ( -50%, -50%);
}
.homepage-welcome h1 {
  color: #ffffff;
  font-family: var(--cursive-font);
  font-size: 3.7rem;
  margin-bottom: -1rem
}
.homepage-welcome p {
  color: #ffffff;
  font-size: 2rem;
}
.homepage-button {
  position: absolute;
  margin-top: 2rem;
  margin-left: 7rem;
  transform: translate (-50%, -50%);
}
.btn {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 30px;
  border: 1px solid #ffffff;
  transition: 0.6s ease;
  border-radius: 0;
}
.btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* .logo{
  position:absolute;
  top: 2rem;
  left:0;
  right:0;
  margin:auto;
} */
    /* ------ ABOUT STYLES ------ */

#about-container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; /* 3 columns*/
  grid-template-rows: 1fr 1.5fr 1fr; /* 3 columns*/
  grid-template-areas: "title title title" /*defines area by name*/
                      "content1 img content4"
                      "content2 content3 content5"; 
  grid-gap: 0.5rem; /* column row gap*/
  height: auto; 
  background-color: rgb(233, 220, 224);
  color: rgb(78, 61, 64);
  font-size: 0.9rem;
  text-align: justify; /* aligns all text in child div*/
}
.about-title{
  grid-area: title;
  background-color:rgb(233, 220, 224);
  font-family: var(--cursive-font);
  font-size: 2rem;
  display: flex;
    justify-content: center;
    align-items: center;
  text-align: center;

  margin-top: 2rem;

}
.about-content1{
  grid-area: content1;
  background-color: red;
}
.about-content2{
  grid-area: content2;
  background-color: yellow;
}
.img-container {
  grid-area: img;
  background-color: white;
}
.me-img{  
  border: 5px solid rgb(78, 61, 64);
}
.about-content3{
  grid-area: content3;
  background-color: blue;
}
.about-content4{
  grid-area: content4;
  background-color: green;
}
.about-content5{
  grid-area: content5;
  background-color: palevioletred;
}

/* ------ Media Query for About Section ------ */

@media only screen and (max-width:600px){
  #about-container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.2fr 0.5fr 1.2fr 1.5fr 1.2fr;
    grid-template-areas: "title" "content1" "content2" "img" "content3" "content4" "content5";
  }
}

/* ------ Paint STYLES ------ */
#paint-container{
  background-color: rgb(145, 112, 112);
  display:grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "title title"
  "content content"
  "carousel radiobutton";
  grid-gap: 0.7rem; /* column row gap*/
  height: auto; 
  color: white;
  font-size: 1rem;
  text-align: justify; /* aligns all text in child div*/
}
.paint-title{
  grid-area: title;
  font-family: var(--cursive-font);
  font-size: 2rem;
  display: flex;
    justify-content: center;
    align-items: center;
  text-align: center;
  margin-top: 2rem;
}

/* Carousel Styles Starts Here */
.carousel-wrapper{
  grid-area:carousel;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
}
.carousel-container{
  
  width: 80%;   /* make image resposinve*/
  height:270px;
  margin: 0 auto; /* center image */
  position: relative;
}
.carousel-track-container{
  width:100%;
  height: 270px;
  position:relative;
  overflow:hidden; /* hide images that overflow container*/
}
.carousel-track{
  padding:0;
  margin:0;
  list-style: none;
  transition: .8s transform ease-in;
}
.carousel-slide{
  padding:0;
  margin:0;
  position: absolute;
  width: 100%;
  height:100%;
}
.carousel-slide img{
  width: 100%;
  height:270px;
  object-fit: cover; /* so images dont stretch when window wider*/
}
.carousel-button{
  position: absolute;
  top:50%;
  transform: translateY(-50%); /* center buttons*/
  background:transparent;
  border:none;
  cursor:pointer;
  width: 2rem;
  height: 2rem;
  color:white;
}
.next-btn{
 right: -2.5rem;
}
.prev-btn{
 left: -2.5rem;
}
.carousel-nav{
  width:100%;
  height:2rem;
  position: absolute;
  top: 270px;
  display: flex;
  justify-content: center;
}
.nav-dot{
 background: rgba(255, 255, 255, 0.3);
 border:none;
 width: 1rem;
 height: 1rem;
 border-radius:50%;
 margin:1rem 0.7rem;
 cursor: pointer;
}
.nav-dot.active{
  background: rgb(255,255,255, 1);
}
.hide-btn{
  display:none;  /* default hide prev button */
}
/* Carousel Styles Ends Here */

.paint-radiobtn-wrapper{
  grid-area: radiobutton;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right:2rem;
  margin-left: 2rem;
}
.paint-by-numbers{
  grid-area: content;
  padding: 2rem 1.7rem 2rem;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.paint-radiobtn-container{
  margin: 1rem;
  padding: 1rem;

}
fieldset {
  margin: 1rem 0;
  position: relative;
  border:none;
}
fieldset > legend {
  margin-left: 1rem;
  background-color: rgb(103, 105, 118);
  padding: 0.4rem;
  margin: 1rem 0.5rem 0.8rem 0.5rem;
  border-radius: 0.3rem;
  text-align: left;
}
label{
  padding: 1rem 0.5rem;
}
.colours{
  margin: 0;
}
.hours{
  margin: 0;
}
.answer-button{
display:flex;
justify-content: center;
margin-left: 3rem;
margin-top: 0.5rem;

}
.buttonstyle{
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  transition: 0.6s ease;
  border-radius: 0.2rem;
  background-color: transparent;
  color:white;
}
.buttonstyle:hover{
  background-color: white;
  font-weight: bolder;
  color:rgb(79, 64, 66);
}

/* ------ Media Query for Pain Section ------ */

@media only screen and (max-width:600px){
  #paint-container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas: "title" "content" "carousel" "radiobutton";
  }
}
    /* ------ FAC STYLES ------ */

#fac-container {
  background-color:rgb(187, 143, 151);
  display:grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
  grid-template-rows: 1fr 3fr 3fr;
  grid-template-areas: 
  "title title title"
  "fac fac fac"
  "fcc cw github";
  grid-gap: 0.5rem; /* column row gap*/
  height: auto; 
  color: #4E3D40;
  font-size: 1rem;
  text-align: justify; /* aligns all text in child div*/
}
.fac-title{
  grid-area: title;
  font-family: var(--cursive-font);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}
.fac-answer{
  grid-area: fac;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: slateblue;
}
#fcc{
  grid-area:fcc;
  display:flex;
  justify-content: center;
  align-items: center;
  background:white;
}
.container { /*contains div for all card */
  position:relative;
  /* width: 70rem; */
  display:flex;
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;
  padding: 2rem;
}
.card{ /*contains div for logo and content */
position:relative;
max-width: 18rem;
background: #fff;
height: 13rem;
margin: 1.9rem 0.6rem;
padding: 1.25rem 0.9rem;
display:flex;
flex-direction: column;
}

.imgLogo{ /* is the div that contains the logo*/

}

.imgLogo img { /* logo */

}
.content{ /* contains h2 p */
}
.content h2 { /* content heading*/

}
.content p { /* content pargraph*/

}
.content a { /* content a link*/

}

#cw{
  grid-area: cw;
  display:flex; 
  justify-content: center;
  align-items: center;
  background:white;
}
#git-hub{
  grid-area: github;
  display:flex;
  justify-content: center;
  align-items: center;
  background:white;
}
/* ------ Media Query for FAC Section ------ */

@media only screen and (max-width:600px){
  #fac-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "title" "fac" "fcc" "cw" "github";
  }
}

    /* ------ CONTACT STYLES ------ */

.contact {
  background-color: rgb(233, 220, 224); /* #596372;*/
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

    /* ------ FOOTER STYLES ------ */

.footer-container {
  background-color: rgb(79, 64, 66);
  position: relative;
  width: 100vw;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
}
.fcc-logo img{  
  width: 4rem;
  
  background-color: transparent;
}